body {
    background-color: #f0f0f0;
}

.ordem-compra-container {
    padding: 20px;
}

.top-section {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bottom-section {
    display: flex;
}

.filters-box {
    width: 25%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.selected-filters-box {
    width: 75%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h5 {
    margin-bottom: 20px;
}

.form-check {
    margin-bottom: 10px;
}

.form-check-input {
    margin-right: 10px;
}

.form-check-label {
    cursor: pointer;
}

.mb-3 {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 14px;
}

.btn-primary {
    background-color: #0881cc;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #214e92;
    border: none;
}

#unidade{

        border-radius: 8px;
        padding: 10px;
        border: 1px solid #ced4da;
        
        width: 100%;
        font-size: 14px;
    
    
}

h5{
    margin-bottom: 10px;
}