body {
  background-color: #f0f0f0; 
}
.conteudo{
    background-color: transparent;
    box-shadow: none;
    margin-top: -15px;
}
.container {
  display: flex;
  padding: 20px;
}

.filters-box {
  width: 25%;
  padding-right: 20px;
  border: 1px solid #dee2e6;
  margin-right: 20px;
  border-radius: 5px;
  padding: 20px;
  background-color: #ffffff;
}

.selected-filters-box {
  width: 75%;
  padding-left: 20px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px;
  background-color: #ffffff;
}

.h5 {
  margin-bottom: 20px;
}

.form-check {
  margin-bottom: 10px;
}

.form-check-input {
  margin-right: 10px;
}

.form-check-label {
  cursor: pointer;
}

.mb-3 {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 95%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 14px;
}

.btn-primary {
  background-color: #0881cc;
  border: none ;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
  background-color: #214e92;
  border: none;
}
